.add-expense-container{
    background-color: skyblue;
    display: flex;
    align-items: center;
    position: absolute;
    top:100px;
    left: 50px;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    padding: 15px 15px;
    box-sizing: border-box;
    gap:10px;

}
.add-expense-container>div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}
.add-expense-container-active{
    background-color: black;
    display: flex;
    align-items: center;
    position: absolute;
    top:100px;
    left: 50px;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    padding: 15px 15px;
    box-sizing: border-box;
    gap:10px;
    border: 1px solid white;
} 
.add-expense-container-active>div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}         
.table{
    padding: 15px 15px;
    width: 45vw;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
    
  }
  .table-active{
    padding: 15px 15px;
    width: 45vw;
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
    
  }
.main-table-active{
    width:100%;
    border: 0px;
    background-color: black;
    border-radius: 5px;
    padding:10px 15px ;
    
}
.main-table{
width:100%;
border: 0px;
background-color: white;
border-radius: 5px;
padding:10px 15px ;

}
.table-heading{
    height: 65px;
    border: 0px;
    display: flex;
    align-items: center;
    font-family: Geneva, Verdana, sans-serif;
}
.table-heading-active{
    height: 65px;
    border: 0px;
    display: flex;
    align-items: center;
    font-family: Geneva, Verdana, sans-serif;
}
.table-row{
    height: 50px;
    border: 0px;
    position: relative;
    box-shadow:1px 1px whitesmoke;

}
.table-row-active{
    height: 50px;
    border: 0px;
    position: relative;
    box-shadow:1px 1px whitesmoke;
}
.table-text::before{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 5px;
    height: 50px;
    background-color: skyblue;
}
.table-text{
    border: 0px;
    padding-left: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table-text-active{
    border: 0px;
    padding-left: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.table-text-active::before{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 5px;
    height: 50px;
    background-color: white;
}
.table-title{
    padding-left: 15px;
    color: skyblue;
}
.total-bar{
    width: 100%;
    background-color: skyblue;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px 0px;
    padding:0px 15px;
    font-family: Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}
.container{
display: flex;
}
.form-expense{
    width: 45vw;
    margin: auto;
}